h1 {
  font-size: 55px;
  text-align: center;
  color: black;
}

h2 {
  font-size: 40px;
  color: black;
}

p {
  font-size: 33px;
  color: lightblue;
}

#name1 {
  color: blue;
  font-family: arial;
}

#name2 {
  color: green;
  font-family: helvetica;
}

#name3 {
  color: red;
  font-family: sans-serif;
}

#name4 {
  color: aqua;
  font-family: comic-sans;
}

ul {
  font-size: 35px;
  color: black;
}

ol {
  font-size: 35px;
  color: black;
}

hr {
  height: 5px;
  background-color: black;
}

#ws {
  font-size: 55px;
  text-align: center;
}

.darkMode {
  color: #00ff33;
  background: black;
}

#btn {
  padding: 0;
  background: none;
  border: none;
}

#bti {
  width: 70px;
  height: 70px;
}

body {
  background-color: white;
}

html {
  cursor: crosshair;
}

#pic1 {
  display: none;
}

a {
  font-size: 40px;
}
